@using Carsale.DAO.Models
@using Carsale.ViewModels

@model CreateVehicleViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body>
    <div class="container">
        <div class="row">
            <button class="btn btn-primary" data-target="#ceate" data-toggle="modal">
                Create
            </button>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @Html.LabelFor(m => m.Brand)
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">

                                @Html.LabelFor(m => m.Brand.Name)
                                @Html.TextBoxFor(m => m.Brand.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Brand.Name)

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button value="Add" id="create">Add Brand</button>
                        <button value="Close" data-dismiss="modal" id="close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>