@using Carsale.DAO.Models
@using Carsale.ViewModels
@using Carsale.Extensions

@model CreateMaintenanceBillViewModel

@{
    ViewBag.Title = "Créer une facture";
}

<h2>Créer une facture</h2>

@using (Html.BeginForm("Create", "MaintenanceBill", FormMethod.Post, new { id = "create", @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.SelectedClient, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.SelectedClient, Model.Clients.Select(client => new SelectListItem
            {
                Value = client.Id.ToString(),
                Text = (client.Type == Carsale.DAO.Models.ClientType.Company) ? client.Name : client.FirstName + " " + client.LastName
            }), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedClient, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Créer" class="btn btn-primary" />
    </div>
}